.bg {
    background-image: url('../img/background2.jpg');
    background-color: lightslategray;
    background-repeat: repeat;
    background-attachment: fixed;
}

.text-center {
    text-align: center;
}

header {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

footer {
    display: block;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.main-mrg {
    margin-top: 50px;
}

img {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 55px;
}

.list-no-mark {
    list-style-type: none;
}

.list-mark {
    list-style-type: disc;
}

header {
    padding-top: 10px;
    height: 30px;
    text-align: center;
    background: gray;
}

footer {
    height: 50px;
    text-align: center;
    background: gray;
    color: indigo;
}

button {
    border-radius: 20%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.menu-color {
    color: blueviolet;
}

.text-pad {
    padding-right: 100px;
    padding-left: 100px;
}

fieldset {
    border-radius: 20px;
    width: 350px;
    border: 2px solid indigo;
}

.page-up-btn {
    position: fixed;
    right: 20px;
    bottom: 30px;
    padding: 15px;
    font-size: 30px;
    border-radius: 25%;
    z-index: 10;
    box-shadow: 0 5px 5px indigo;
}

.btn-clr {
    background: lightgray;
    color: indigo;
}

.shadow-form-border fieldset {
    box-shadow: 0 0 10px blueviolet;
}

.btn-shift {
    left: auto;
}

.shadow-form-btn {
    box-shadow: 0 5px 5px blueviolet;
}

.shadow-txt {
    text-shadow: 0 5px 5px indigo;
}

table {
    border-collapse: collapse;
}

caption {
    font-size: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.modalbackground {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

.modalbackground:target {
    opacity: 1;
}

.modal-login {
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 2%;
    background: gray;
    border-radius: 3px;
}

.modal-login .btn-close {
    display: block;
    color: red;
    background: blue;
    padding: 2%;
    margin: 0 auto;
    width: 50%;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

.modal-login .btn-close:hover {
    background: indigo;
}

.btn-close:target {
    display: none;
}

#login-form:target {
    display: block;
}

